@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

div.post p {
  margin-bottom: 1rem;
}

div.post h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

div.post h2 {
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

div.post em {
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

table.form {
  width: 800;
  min-width: 800;
}
table.form td {
  width: 50%;
}
table.form input {
  width: 100%;
  color: black;
}
table.form option {
  width: 100%;
  color: black;
}
table.form select {
  width: 100%;
  color: black;
}

/* #btnSend {} */
